:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 500;
  color: var(--p-text-color);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  background-color: var(--ground-background);
}

#app {
  width: 100%;
  max-width: 1080px;
  min-height: 100vh;
  padding: 0 12px;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 40px;
}

a {
  text-decoration: none;
}

.portfolio-dark img {
  filter: brightness(80%);
}

h1, h2 {
  margin: 0;
}